export const config = {
  notion_database_id: "xxx",
  notion_secret: "secret_xxx",
  cors_proxy: "",
  cors_proxy_extra_header: {},
  add_description_to_page: false,
  auto_jump_to_notion_page: true
};
